.page-header {
    background-color: #05c5ff;
    margin-top: 0;
    padding: 20px 20px 30px 20px;
    vertical-align: middle;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    height: auto;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: auto;
}

a.top-menu, a.top-menu:hover {
    font-family: 'Poppins', sans-serif;
    font-size: 15pt;
    margin-right: 0px;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

.post-list-content {
    margin-top: 15px;
    max-height: 150px;
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: normal;
    overflow: hidden;
}

.post-detailed-content {
    margin-top: 15px;
}

p {
    font-family: 'Raleway', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

.col-md-8 {
    width: 100%;
    padding: 0px 0px 0px 0px ;
}

.post-meta {
    font-family: 'Raleway', sans-serif;
    float: right;
    color: #828282;
}

.date, .author {
    margin-top: 0px;
}

.btn {
    float: right;
    margin-right: 10px;
}

#new-post {
    margin-bottom: 10px;
}

.save {
    float: left;
    margin-left: 35px;
    margin-top: 5px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    padding: 10px 10px 10px 10px;
    background: #f5f5f5;
    margin-bottom: 10px;
}

#id_title {
    width: 80vw;
    float: bottom;
}

#id_text {
    width: 80vw;
    height: 250px;
}

label {
    float: left;
    width: 35px;
    padding-right: 10px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}